
'''

=================================================

Graded Challenge 3

Nama  :Nurdin Atid H

Batch : BSD-002

program ini dibuat untuk menganalisa penjualan produk seblak di tokopedia untuk membantu mencari data dan mencari korelas antar variable di dalamnya

=================================================

'''

Case


Kamu ingin menambah pendapatanmu dengan berjualan. Namun, kamu tidak punya cukup modal untuk produksi barang dan hanya cukup untuk promosi, sehingga kamu memutuskan untuk menjalanan skema dropship di platform Tokopedia.

Kamu masih bingung akan berjualan apa dan teringat bahwa saat ini sedang viral seblak. Namun, kamu tidak yakin apakah benar bahwa masyarakat memiliki animo yang besar terhadap seblak.

Karena kamu lulusan bootcamp Data Science Hacktiv8, dengan kemampuan dan pengetahuan kamu, kamu ingin menganalisis bagaimana penjualan produk seblak di Tokopedia. Apakah orang suka, apakah banyak yang beli, dsb.

Tantangannya, kamu tidak punya data sama sekali selain yang terpampang pada website e-commerce Tokopedia. Oleh karena itu, perjalanan kamu dimulai dari pengambilan data menggunakan Web Scraping!

In [2]:
import pandas as pd 
from selenium import webdriver
driver = webdriver.Chrome()

A. Web Scraping
Lakukan pengambilan data dari halaman pencarian kata kunci produk "seblak". Kamu bisa langsung akses link ini: https://www.tokopedia.com/search?navsource=&page=1&q=seblak&srp_component_id=02.01.00.00&srp_page_id=&srp_page_title=&st=

In [3]:
from bs4 import BeautifulSoup
from selenium import webdriver
driver = webdriver.Chrome('')

url="https://www.tokopedia.com/search?navsource=&page=1&q=seblak&srp_component_id=02.01.00.00&srp_page_id=&srp_page_title=&st="
driver.get(url)
html = driver.page_source

soup = BeautifulSoup(html, "html.parser")
print(soup.prettify()[:700])

<html data-rh="lang,translate" lang="id" translate="no">
 <head>
  <title>
   Jual seblak | Tokopedia
  </title>
  <meta charset="utf-8"/>
  <meta content="initial-scale=1, minimum-scale=1, maximum-scale=5, user-scalable=yes, width=device-width" name="viewport"/>
  <link crossorigin="" href="https://assets.tokopedia.net" rel="preconnect"/>
  <link href="https://assets.tokopedia.net" nonce="" rel="dns-prefetch"/>
  <link crossorigin="" href="https://gql.tokopedia.com" rel="preconnect"/>
  <link href="https://gql.tokopedia.com" nonce="" rel="dns-prefetch"/>
  <link crossorigin="" href="https://googleads.g.doubleclick.net" rel="preconnect"/>
  <link href="https://googleads.g.doubleclick.net" no

In [4]:
driver = webdriver.Chrome()

In [5]:
SEBLAK_TOKPED = []

for i in range(1,11):
    url="https://www.tokopedia.com/search?navsource=&page={}&q=seblak&srp_component_id=02.01.00.00&srp_page_id=&srp_page_title=&st=".format(i)
    driver.get(url)
    html = driver.page_source
    soup = BeautifulSoup(html, "html.parser")

    for n in soup.findAll('div', class_="css-llwpbs"):
        # Mengambil Nama Produk
        element = n.find('div', class_="prd_link-product-name css-3um8ox")
        if element is not None:
            nama_produk = element.get_text()
        else:
            nama_produk = None

        # Mengambil Harga Produk
        element = n.find('div', class_="prd_link-product-price css-h66vau")
        if element is not None:
            harga_produk = element.get_text()
        else:
            harga_produk = None

        # Mengambil nama penjual
        element = n.find('span', class_="prd_link-shop-name css-1kdc32b flip")
        if element is not None:
            penjual = element.get_text()
        else:
            penjual = None

        # Mengambil nama kota
        element = n.find('span', class_="prd_link-shop-loc css-1kdc32b flip")
        if element is not None:
            kota = element.get_text()
        else:
            kota = None

        # Mengambil banyak_terjual
        element = n.find('span', class_="prd_label-integrity css-1sgek4h")
        if element is not None:
            banyak_terjual = element.get_text()
        else:
            banyak_terjual = None

        # Mengambil rating_produk
        element = n.find('span', class_="prd_rating-average-text css-t70v7i")
        if element is not None:
            rating = element.get_text()
        else:
            rating = None
        
        SEBLAK_TOKPED.append((nama_produk, harga_produk, penjual, kota, banyak_terjual, rating ))



data_multipage = pd.DataFrame(SEBLAK_TOKPED, columns=['nama_produk', 'harga_produk', 'penjual', 'kota', 'banyak_terjual', 'rating'])

data_multipage.head()

  nama_produk harga_produk penjual  kota banyak_terjual rating
0        None         None    None  None           None   None
1        None         None    None  None           None   None
2        None         None    None  None           None   None
3        None         None    None  None           None   None
4        None         None    None  None           None   None

In [6]:
data_multipage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nama_produk     90 non-null     object
 1   harga_produk    90 non-null     object
 2   penjual         90 non-null     object
 3   kota            90 non-null     object
 4   banyak_terjual  78 non-null     object
 5   rating          75 non-null     object
dtypes: object(6)
memory usage: 34.1+ KB

#### B. Data Preparation

1. Lakukan eksplorasi data sederhana:
  - Tampilkan beberapa baris data - tuliskan insight
  - Tampilkan informasi rangkuman data - tuliskan insight dan berikan penjelasan langkah apa yang akan kamu lakukan
  - Cek missing value - tuliskan insight dari temuan yang kamu dapatkan
2. Lakukan data cleaning:
  Kamu bisa handle missing value bila ada, mengubah bentuk data menjadi konsisten dan menyesuaikan tipe data. Perlu diingat bahwa data ini akan digunakan untuk perhitungan statisik dan membutuhkan angka.
3. Catatan:
  Pada kolom "Banyaknya Terjual", jumlah produk yang terjual dituliskan sebagai `Terjual 750+`, `Terjual 1 rb`. Ambil angkanya saja. Misal `Terjual 750+` -> `750` dan `Terjual 1 rb` -> `1000`.

In [7]:
#untuk menghapus/drop data yang duplikat
data_multipage.drop_duplicates(inplace=True)

#tampilkan info tabel di setiap kolomnya
data_multipage.info()

<class 'pandas.core.frame.DataFrame'>
Index: 89 entries, 0 to 659
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nama_produk     88 non-null     object
 1   harga_produk    88 non-null     object
 2   penjual         88 non-null     object
 3   kota            88 non-null     object
 4   banyak_terjual  76 non-null     object
 5   rating          73 non-null     object
dtypes: object(6)
memory usage: 4.9+ KB

In [8]:
#untuk menghapus/drop missing value
data_multipage.dropna(inplace=True)

#tampilkan tabel kembali
data_multipage

,nama_produk,harga_produk,penjual,kota,banyak_terjual,rating
5,Mie Seblak Geprek Sami Raos,Rp27.500,Official Kartika Sari,Bandung,60+ terjual,4.9
6,Pasar Keripik Kerupuk Seblak Mawar Mini Pedas ...,Rp12.500,Pasar Keripik,Bandung,29 terjual,5.0
7,Gelifood Combo 3pcs Seblak Instan Kerupuk Mawa...,Rp39.000,Lidigeli,Kab. Garut,10 terjual,5.0
8,siomay mini kering 1kg / gurilem toping seblak...,Rp25.000,CuankiCulametan,Kab. Garut,100+ terjual,4.9
9,Seblak Instan Sehati,Rp13.000,Official Kartika Sari,Bandung,500+ terjual,5.0
...,...,...,...,...,...,...
655,"makaroni kriuk 500g pedas extra daun jeruk,cem...",Rp23.000,anugrah seblak,Kab. Bandung,250+ terjual,4.8
656,PAKET 1 BOCI EXTRA PEDAS + 1 TULANG RANGU + 1 ...,Rp50.000,JM Snacks,Bandung,30+ terjual,4.9
657,Seblak Instan Batagor/Seblak Instan Pedas,Rp8.700,yakoyako,Bekasi,100+ terjual,5.0
658,Cuanki SOHU MINI isi 100g untuk toping Boci Ba...,Rp6.999,gaiagarut,Kab. Garut,18 terjual,4.7
659,Kerupuk Tangga / Rante Topping Seblak,Rp3.000,Pusat Cuankie & Cemilan Frozen,Jakarta Timur,100+ terjual,4.8

In [9]:
#menympan data csv
data_multipage.to_csv("seblak.csv", index=False)

In [10]:
#setelah menyimpan data csv dipanggil lagi agar data yang digunakan adalah data yang sudah disimpan
df = pd.read_csv('seblak.csv')

In [11]:
df

,nama_produk,harga_produk,penjual,kota,banyak_terjual,rating
0,Mie Seblak Geprek Sami Raos,Rp27.500,Official Kartika Sari,Bandung,60+ terjual,4.9
1,Pasar Keripik Kerupuk Seblak Mawar Mini Pedas ...,Rp12.500,Pasar Keripik,Bandung,29 terjual,5.0
2,Gelifood Combo 3pcs Seblak Instan Kerupuk Mawa...,Rp39.000,Lidigeli,Kab. Garut,10 terjual,5.0
3,siomay mini kering 1kg / gurilem toping seblak...,Rp25.000,CuankiCulametan,Kab. Garut,100+ terjual,4.9
4,Seblak Instan Sehati,Rp13.000,Official Kartika Sari,Bandung,500+ terjual,5.0
...,...,...,...,...,...,...
68,"makaroni kriuk 500g pedas extra daun jeruk,cem...",Rp23.000,anugrah seblak,Kab. Bandung,250+ terjual,4.8
69,PAKET 1 BOCI EXTRA PEDAS + 1 TULANG RANGU + 1 ...,Rp50.000,JM Snacks,Bandung,30+ terjual,4.9
70,Seblak Instan Batagor/Seblak Instan Pedas,Rp8.700,yakoyako,Bekasi,100+ terjual,5.0
71,Cuanki SOHU MINI isi 100g untuk toping Boci Ba...,Rp6.999,gaiagarut,Kab. Garut,18 terjual,4.7
72,Kerupuk Tangga / Rante Topping Seblak,Rp3.000,Pusat Cuankie & Cemilan Frozen,Jakarta Timur,100+ terjual,4.8

In [12]:
#menghapus data yang duplikat
data_multipage.drop_duplicates(inplace=True)

In [13]:
data_multipage.dropna(inplace=True)

In [14]:
data_multipage.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73 entries, 5 to 659
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nama_produk     73 non-null     object
 1   harga_produk    73 non-null     object
 2   penjual         73 non-null     object
 3   kota            73 non-null     object
 4   banyak_terjual  73 non-null     object
 5   rating          73 non-null     object
dtypes: object(6)
memory usage: 4.0+ KB

In [15]:
#cleaning data dengan menghilangkan tanda baca tidak sesuai
data_multipage['harga_produk'] = data_multipage['harga_produk'].str.replace('Rp', '')
data_multipage['harga_produk'] = data_multipage['harga_produk'].str.replace('.', '')
data_multipage['banyak_terjual'] = data_multipage['banyak_terjual'].str.replace('+', '')
data_multipage['banyak_terjual'] = data_multipage['banyak_terjual'].str.replace('rb', '000')
data_multipage['banyak_terjual'] = data_multipage['banyak_terjual'].str.replace('terjual', '')
data_multipage['banyak_terjual'] = data_multipage['banyak_terjual'].str.replace(' ', '')
data_multipage.head()

,nama_produk,harga_produk,penjual,kota,banyak_terjual,rating
5,Mie Seblak Geprek Sami Raos,27500,Official Kartika Sari,Bandung,60,4.9
6,Pasar Keripik Kerupuk Seblak Mawar Mini Pedas ...,12500,Pasar Keripik,Bandung,29,5.0
7,Gelifood Combo 3pcs Seblak Instan Kerupuk Mawa...,39000,Lidigeli,Kab. Garut,10,5.0
8,siomay mini kering 1kg / gurilem toping seblak...,25000,CuankiCulametan,Kab. Garut,100,4.9
9,Seblak Instan Sehati,13000,Official Kartika Sari,Bandung,500,5.0

In [16]:
#cleaning data dengan menghilangkan jenis data pada kolom
data_multipage['harga_produk']=data_multipage['harga_produk'].astype(int)
data_multipage['banyak_terjual']=data_multipage['banyak_terjual'].astype(int)
data_multipage['rating']=data_multipage['rating'].astype(float)

## C. Business Understanding/Problem Statement
Buat problem statement menggunakan SMART framework berikut dengan penjabaran Specific, Measurable, Achievable, Relevant, dan Time-bound. Jangan lupa merangkup dalam satu kalimat problem statement serta gunakan metrik yang tepat dari kasus ini.

1. specifik

menganalisis data penjualan seblak dari tokopedia

2. measurable

menentukan nilai mean, median, dari penjualan seblak untuk mencari berapa rata2 penjual menjual seblak.

3. Achieveble

mencari korelasi antara harga dan kepuasan pembeli agar pedagang dengan tujuan memningkatkan penjualannya

4. relevant

menentukan berapa pendapatan terendah dan terkecil yang di dapatkan oleh penjual yang akan berjualan seblak.

5. time bond

pengolahan data dilakukan selama 3 hari

D. Analysis
Dalam melakukan analisa data untuk mencapai tujuan yang diinginkan, kamu perlu mengikuti soal/pertanyaan/instruksi berikut ini:

1. Hitung rata-rata, median, standar deviasi, skewness, dan kurtosis dari kolom harga, banyak produk terjual, dan rating. Dari hasil perhitungan, insight apa saja yang bisa kamu dapatkan khususnya terkait dengan produk seblak dan datanya (distribusi dan kecenderungan ada/tidaknya outlier)?
Note: Jika menemukan adanya indikasi outlier dari perhitungan ini, tidak perlu dihandle karena sifatnya alami. Dibiarkan saja.

2. Kamu memikirkan berapa potensi minimum dan maksimum pendapatan jika kamu menjual produk seblak?(Gunakan confidence interval untuk mendapatkan lower value dan upper value dari distribusi populasi pendapatan).

Anggap data terdistribusi normal dan informasi produk terjual merupakan penjualan produk per bulan. Ambil confidence level 95%.

3. Apakah harga barang di Jabodetabek dan di luar Jabodetabek berbeda? mengingat biaya bahan baku di kedua lokasi berbeda. (Gunakan uji hipotesis yang diawali dengan menuliskan hipotesis null dan alternatifnya serta tentukan jenis hipotesis yang digunakan).

4. Apakah orang lebih cenderung suka dengan produk yang harganya murah?

Kamu dapat jawab pertanyaan ini dengan uji korelasi. Gunakan library scipy jangan pandas. Analisis nilai korelasi dan p-value nya. Gunakan teknik yang sesuai dengan kondisi data!

Kamu dilarang untuk copy-paste pertanyaan soal. Buat lah cerita yang runut dari persoalan dan jawaban nomor 1 sampai 4 sebagai ganti kalimat soal.

mean median modus

1. Hitung rata-rata, median, standar deviasi, skewness, dan kurtosis dari kolom harga, banyak produk terjual, dan rating. Dari hasil perhitungan, insight apa saja yang bisa kamu dapatkan khususnya terkait dengan produk seblak dan datanya (distribusi dan kecenderungan ada/tidaknya outlier)?
Note: Jika menemukan adanya indikasi outlier dari perhitungan ini, tidak perlu dihandle karena sifatnya alami. Dibiarkan saja.

In [17]:
#pengambilan data mean median untuk harga produk
Median_harga_produk = data_multipage['harga_produk'].mean()
print(f"Mean_harga_produk :", Median_harga_produk)
Median_harga_produk = data_multipage['harga_produk'].median()
print(f"Median_harga_produk :", Median_harga_produk)

#mencari st dev harga produk
std = data_multipage['harga_produk'].std()
print(f'Standard Deviation harga produk:',std)

#mencari nilai skewnes harga produk
print(f"Skewness: {data_multipage['harga_produk'].skew()}")

#mencari nilai kurtosis
print(f"Kurtosis: {data_multipage['harga_produk'].kurtosis()}")

Mean_harga_produk : 24829.602739726026
Median_harga_produk : 15500.0
Standard Deviation harga produk: 27400.76763155233
Skewness: 2.79043122119568
Kurtosis: 8.927317266100744

skewnes : positif skew
kurtosis : kurtosis lancip
artinya data merupakan data tidak normal

In [18]:
#pengambilan data mean median untuk banyak terjual
Median_banyak_terjual = data_multipage['banyak_terjual'].mean()
print(f"Mean_banyak_terjual :", Median_banyak_terjual)
Median_banyak_terjual = data_multipage['banyak_terjual'].median()
print(f"Median_banyak_terjual :", Median_banyak_terjual)

#mencari st dev banyak terjual
std = data_multipage['banyak_terjual'].std()
print(f'Standard Deviation banyak terjual:',std)

#mencari nilai skewnes banyak terjual
print(f"Skewness: {data_multipage['banyak_terjual'].skew()}")

#mencari nilai kurtosis
print(f"Kurtosis: {data_multipage['banyak_terjual'].kurtosis()}")

Mean_banyak_terjual : 488.4109589041096
Median_banyak_terjual : 80.0
Standard Deviation banyak terjual: 1552.3054792756952
Skewness: 5.021001019977519
Kurtosis: 26.65435219836682

skewnes : positif skew
kurtosis : kurtosis lancip
artinya data merupakan data tidak normal

In [19]:
#pengambilan data mean median untuk rating
Median_rating = data_multipage['rating'].mean()
print(f"Mean_rating :", Median_rating)
Median_rating = data_multipage['rating'].median()
print(f"Median_rating :", Median_rating)

#mencari st dev rating
std = data_multipage['rating'].std()
print(f'Standard Deviation rating:',std)

#mencari nilai skewnes rating
print(f"Skewness: {data_multipage['rating'].skew()}")

#mencari nilai kurtosis
print(f"Kurtosis: {data_multipage['rating'].kurtosis()}")

Mean_rating : 4.904109589041096
Median_rating : 4.9
Standard Deviation rating: 0.103331123853238
Skewness: -0.9381554824978179
Kurtosis: 0.10357814504887575

skewnes : negatif skew
kurtosis : kurtosis lancip
artinya data merupakan data tidak normal

 2. Kamu memikirkan berapa potensi minimum dan maksimum pendapatan jika kamu menjual produk seblak?(Gunakan confidence interval untuk mendapatkan lower value dan upper value dari distribusi populasi pendapatan).

 Anggap data terdistribusi normal dan informasi produk terjual merupakan penjualan produk per bulan. Ambil confidence level 95%.

In [20]:
!pip install scipy

Requirement already satisfied: scipy in c:\users\master\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.11.3)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in c:\users\master\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scipy) (1.26.0)

In [21]:
import numpy as np
import scipy.stats as stats

In [53]:
#mencari rata rata pendapatan penjual dalam menjual produk seblak 
rata_rata_terjual = data_multipage['banyak_terjual'].mean()

print("Rata-rata Banyak Produk yang Terjual:", rata_rata_terjual)


#mencari harga terendah dan tertinggi
harga_deviasi = data_multipage['harga_produk'].std()
size = len(data_multipage)

low, up = stats.norm.interval(0.95,loc=data_multipage['harga_produk'].mean(),scale=harga_deviasi/np.sqrt(size))
print('Lower Limit:',low)
print('Upper Limit:',up)

Rata-rata Banyak Produk yang Terjual: 488.4109589041096
Lower Limit: 18543.96437773142
Upper Limit: 31115.241101720632

In [55]:
#menentukan potensi pendapatan

hasil_low = rata_rata_terjual * low
print("Potensi pendapatan terendah:", hasil_low)

hasil_up = rata_rata_terjual * up
print("Potensi pendapatan tertinggi:", hasil_up)

Potensi pendapatan terendah: 9057075.423611453
Potensi pendapatan tertinggi: 15197024.743023938

3. Apakah harga barang di Jabodetabek dan di luar Jabodetabek berbeda? mengingat biaya bahan baku di kedua lokasi berbeda. (Gunakan uji hipotesis yang diawali dengan menuliskan hipotesis null dan alternatifnya serta tentukan jenis hipotesis yang digunakan).

hipotesis null (H0) dan hipotesis alternatif (H1)
Hipotesis Null (H0): Tidak ada perbedaan signifikan dalam harga barang antara Jabodetabek dan di luar Jabodetabek.
Hipotesis Alternatif (H1): Ada perbedaan signifikan dalam harga barang antara Jabodetabek dan di luar Jabodetabek.

In [23]:
#mendapatkan kota apa saja yang terdapat pada kolom kota
data_multipage['kota'].unique()

array(['Bandung', 'Kab. Garut', 'Jakarta Pusat', 'Tangerang Selatan',
       'Bekasi', 'Depok', 'Kab. Bantul', 'Jakarta Selatan',
       'Jakarta Barat', 'Kab. Bogor', 'Kab. Tasikmalaya', 'Kab. Bekasi',
       'Jambi', 'Cimahi', 'Kab.Ciamis', 'Kab. Sleman', 'Kab. Bandung',
       'Tangerang', 'Kab. Tangerang', 'Tasikmalaya', 'Semarang',
       'Kab. Majalengka', 'Surabaya', 'Jakarta Timur'], dtype=object)

In [24]:
jabodetabek = data_multipage[data_multipage['kota'].isin(['Depok', 'Tangerang Selatan', 'Kab. Tangerang','Jakarta Timur','Jakarta Selatan','Kab. Bogor','Jakarta Barat','Jakarta Pusat','Tangerang','Bekasi','Kab. Bekasi'])][['harga_produk', 'rating']]
luar = data_multipage[~data_multipage['kota'].isin(['Depok', 'Tangerang Selatan', 'Kab. Tangerang','Jakarta Timur','Jakarta Selatan','Kab. Bogor','Jakarta Barat','Jakarta Pusat','Tangerang','Bekasi','Kab. Bekasi'])][['harga_produk', 'rating']]

jabodetabek_price = jabodetabek['harga_produk']
luar_price = luar['harga_produk']


print('rata-rata harga barang jabodetabek =',jabodetabek_price.mean())
print('rata-rata harga barang luar jabodetabek =',luar_price.mean())

rata-rata harga barang jabodetabek = 24832.677419354837
rata-rata harga barang luar jabodetabek = 24827.333333333332

In [25]:
import scipy.stats as stats

# Lakukan uji t-student
t_statistic, p_value = stats.ttest_ind(jabodetabek_price, luar_price)

# Tampilkan hasil
print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

# Tentukan tingkat signifikansi (alpha)
alpha = 0.05  # Ubah sesuai dengan tingkat signifikansi yang Anda tentukan

# Bandingkan p-value dengan alpha
if p_value < alpha:
    print("Tolak H0: Terdapat perbedaan signifikan antara jabodetabek dan luar jabodetabek.")
else:
    print("Terima H0: Tidak terdapat perbedaan signifikan antara jabodetabek dan luar jabodetabek.")

T-Statistic: 0.0008179329440125878
P-Value: 0.9993496778330131
Terima H0: Tidak terdapat perbedaan signifikan antara jabodetabek dan luar jabodetabek.

4. Apakah orang lebih cenderung suka dengan produk yang harganya murah?

In [26]:
import numpy as np

In [27]:
#mencari apakah ada korelasi terhadap harga
corr_r, pval_p = stats.pearsonr(data_multipage['harga_produk'], data_multipage['rating'])
corr_rho, pval_s = stats.spearmanr(data_multipage['harga_produk'], data_multipage['rating'])
corr_tau, pval_k = stats.kendalltau(data_multipage['harga_produk'], data_multipage['rating'])

print(f"r-correlation: {corr_r:.2f}, p-value: {pval_p}")
print(f"rho-correlation: {corr_rho:.2f}, p-value: {pval_s}")
print(f"tau-correlation: {corr_tau:.2f}, p-value: {pval_k}")

r-correlation: -0.07, p-value: 0.5581850437943593
rho-correlation: -0.11, p-value: 0.368876529322552
tau-correlation: -0.08, p-value: 0.3805829541760333

p-value digunakan untuk memberikan informasi apakah korelasi tersebut nyata atau hanya kebetulan saja.

Jika p-value lebih dari 0,05 maka korelasi kedua variabel adalah nyata.

Namun dalam kasus kami, korelasi antara harga produk dan rating atau kepuasan pembeli tidak ada hubungan.

#### E. Conclusion
  Tuliskan di markdown kesimpulan dari hasil analisis dari nomor 1-4. Kesimpulan yang baik menjawab tujuan yang ingin dicapai. Kamu dibebaskan menuliskan dalam format paragraf atau poin.

Dari data yang sudah di tarik dan di olah sedemikian rupa yaitu data penjualan seblak di aplikasi tokopedia. rata rata harga sebalak yang di jual di tokopedia adalah sekitar RP. 26.646,00. penjual seblak berasal dari berbagai kota di indosnesia yang tidak ada korelasi dari lokasi dengan penjualan para pedagang, karena tidak ada perbedaan yang signifikan dari harga yag di jual para pedagang tersebut, serta tidak ada hubungan dari harga produk dengan tingkat kepuasan pembeli.